{{#if teacher }}

<div style="margin-top:760px;" class="footer-copyright text-center py-3 bg-secondary"> <p> © 2019 SPM Copyright:
   </p>
  </div>

{{/if}}

{{#if student }}

<div style="margin-top:760px;" class="footer-copyright text-center py-3 bg-secondary"> <p> © 2019 SPM Copyright:
   </p>
  </div>

{{/if}}