<html>

<head>

</head>

<body>
     {{#if  teacher }}
             <form action="/student_register" method="post">
    <div class="login_container">
      <div class="login">
             
              <h1 style="color:red; text-transform:uppercase;">Student Register</h1>
          {{> messages}}
          
              
             <input type="text" name="student_surname" placeholder="student familya">
          <input type="text" name="student_name" placeholder="student ism">
           <input type="text" name="student_id" placeholder="student ID">
           
              <input type="password" name="student_password"  placeholder="parol"><br>
               <input type="password" name="student_confirm_password"  placeholder="takroriy parol"><br>
         
               <input type="submit" value="register">
             
              
      </div>
    </div>
                 </form>
    {{/if}}
    </body>
    
    
    </html>