<html>

<head>

</head>

<body>
     
             <form action="/student_login" method="post">
    <div class="login_container">
      <div class="login">
          <img src="/images/logo_photo.jpg" width="60" height="50">
              <h1  style="color:red; text-transform:uppercase;">Log in </h1>
          {{> messages}}
              <input type="text" name="student_id" placeholder="ID">
              <input type="password" name="password"  placeholder="parol"><br>
             
            
               <input type="submit" value="login">
             
              
      </div>
    </div>
                 </form>
    </body>
    
    
    </html>