<!--들어갈 컨텐츠 내용입니다-->
<body style="background-color:lightsteelblue;">
    {{#if teacher }}
<div class="container" style="background-color:white">
<table class="table table-bordered">

    <thead>
    <tr style="color:red; font-size:25px;">
        <th>FAMILYA</th>
        <th>ISM</th>
        <th>ID</th>
        <th>O'CHIRISH</th>
    </tr>
    </thead>
    <tbody>
    {{#each student_list}}
        <tr>
           <td>{{this.surname}}</td>
            <td>{{this.student_name}}</td>
            <td>{{this.student_id}}</td>
            <td style="width:20px;">
                <a style="background: darkblue; color:white" class="btn btn-default" href="/show_result/{{this._id}}">o'chirish</a>
            </td>
        </tr>
        
            
    {{/each}}
    </tbody>
        
</table>
    
    </div>
    {{/if}}
</body>
